:root {
  /* Colors */
  --white-color: #ffffff;
  --cream-color: #f2eae2;
  --aurometal-color: #6c7289;
  --aquamarine-color: #3d8168;
  --aquamarine-hover-color: #1a4032;
  --gunmetal-color: #1c232b;

  /* Fonts */
  --font-fraunces: "Fraunces", serif;
  --font-montserrat: "Montserrat", sans-serif;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  /* font-kerning: auto; */
}

html {
  box-sizing: border-box;
}

body {
  color: var(--aurometal-color);
  background-color: var(--cream-color);
  font-family: var(--font-montserrat);
  font-size: 100%;
  padding: 1.75rem 1rem;
  margin: 0;
  min-height: 100vh;
}

img {
  max-width: 100%;
}

a,
button {
  cursor: pointer;
}

.card {
  background-color: var(--white-color);
  border-radius: 10px;
  overflow: hidden;
  width: 100%;
  max-width: 600px;
  display: flex;
  flex-wrap: wrap;
}

.product-image {
  display: block;
}

.product-info {
  padding: 1.5rem;
  position: relative;
}

.product-category {
  text-transform: uppercase;
  font-size: 0.75rem;
  letter-spacing: 5px;
  color: var(--aurometal-color);
  display: inline-block;
  font-weight: 500;
}

.product-title {
  font-family: var(--font-fraunces);
  color: var(--gunmetal-color);
  font-size: 2rem;
  line-height: 1;
  font-weight: 700;
  margin-top: 0.375em;
  margin-bottom: 0.5em;
}

.product-desc {
  color: var(--aurometal-color);
  font-size: 0.875rem;
  line-height: 1.4375rem;
  font-weight: 500;
  margin: 0;
}

.prices {
  display: flex;
  align-items: center;
  gap: 19px;
  margin: 1.5rem 0 1.25rem;
}

.price-new {
  font-family: var(--font-fraunces);
  color: var(--aquamarine-color);
  font-size: 2rem;
  font-weight: 700;
}

.price-old {
  font-family: var(--font-montserrat);
  color: var(--aurometal-color);
  font-size: 0.8125rem;
  font-weight: 500;
}

.btn-cart {
  border: none;
  background-color: var(--aquamarine-color);
  display: block;
  width: 100%;
  color: var(--white-color);
  border-radius: 8px;
  padding: 0.9375rem;
  margin-top: 1.25rem;
  font-weight: 700;
  font-size: 0.875rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 11.6px;
  transition: all 0.3s ease-in-out;
}

.btn-cart:hover {
  background-color: var(--aquamarine-hover-color);
}

@media screen and (min-width: 601px) {
  body {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .card {
    flex-wrap: nowrap;
  }

  .product-image {
    flex: 1 0 50%;
    width: 50%;
  }

  .product-info {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .product-title {
    margin-top: 0.625em;
    margin-bottom: 0.75em;
  }

  .prices {
    margin: 1.875rem 0;
  }

  .btn-cart {
    margin: 0;
  }
}
